.newProduct {
    flex: 4;
    /* margin-left: 100px; */
    /* margin-top: 90px; */
    margin: 80px;
    border: 2px solid blue;
  }
  
  .addProductForm {
    border: 1px solid;
    background-color: rgb(184, 174, 174);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  .addProductItem {
    width: 380px;
    display: flex;
    flex-direction: column;
    margin-bottom: 6px;
    /* border: 3px solid red; */
  }
  
  .addProductItem > label {
    color: gray;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .addProductItem > input {
    padding: 10px;
  }
  
  .addProductItem > select {
    padding: 10px;
  }
  
  .addProductButton {
    margin-top: 10px;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    cursor: pointer;
  }